.carousel-button {
  padding: 0.5rem;
  border: none;
  background: transparent;
  color: black;
  font-weight: 900;
  cursor: pointer;
  border: 2px solid;
  border-radius: 3px;

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}
