#app-header {
  background: black;
  color: white;
  padding: 2rem;
  position: sticky;
  top: 0;
  z-index: 2;

  & > nav {
    display: flex;
    justify-content: space-between;
    gap: 1rem;

    & > a {
      @include button-style();
      background: orange;
      color: black;

      &:nth-child(2) {
        background: blue;
        color: white;

        &:hover {
          transform: rotate(5deg) scale(1.02);
        }
      }
    }
  }
}
