.wishlist-button {
  @include button-style();
  color: #fff;

  &:hover {
    transform: rotate(-2deg) scale(1.02);
  }
}

.film-item {
  &.action {
    .wishlist-button {
      background-color: $action-color;
    }
  }

  &.comedy {
    .wishlist-button {
      background-color: $comedy-color;
    }
  }

  &.drama {
    .wishlist-button {
      background-color: $drama-color;
    }
  }
}
